body {
  box-sizing: border-box;
  background: linear-gradient(-90deg, #ffeb3b, #74efff, #9c27b0);
  background-size: 400% 400%;
  animation: gradient-bg 20s ease infinite;
}
@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
